body {
  background-image: url('../images/bg02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  width: 500px;
  height: 500px;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  background-image: url('../images/background.jpg');
  background-size: cover;
}

div:focus {
  outline: none;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.5);
}
